<!-- SLIDE TOP -->
		<div id="slidetop">

			<div class="container">
				
				<div class="row">

					<div class="col-md-4">
						<h6><i class="icon-heart"></i> WHY ROCKET ELEVATORS ?</h6>
						<p>We are number one in construction of elevator in North America and second in Europe. We have the most efficient workers and our values are the customer service, fidelity and respect. Contact us and we guarantee that you will completely satisfy.

						</p>
					</div>

					<div class="col-md-4">
						<h6><i class="icon-envelope"></i> CONTACT INFO</h6>
						<ul class="list-unstyled">
							<li><b>Address:</b> 725 Boulevard Lebourgneuf <br /> Quebec, G2J 0C4, Canada</li>
							<li><b>Phone:</b> 1-800-565-2390</li>
							<li><b>Email:</b> <a href="mailto:support@yourname.com">support@codeboxx.com</a></li>
						</ul>
					</div>

				</div>

			</div>

			<a class="slidetop-toggle" href="#"><!-- toggle button --></a>

		</div>
		<!-- /SLIDE TOP -->


		<!-- wrapper -->
		<div id="wrapper">

			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

				<!-- TOP NAV -->
				<header id="topNav">
					<div class="container">

						<!-- Mobile Menu Button -->
						<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
							<i class="fa fa-bars"></i>
						</button>

						<!-- Logo -->

						<a class="logo float-left scrollTo" href="#top">
							<img src="assets/R2.png" alt="" />
						</a>

						<!-- 
							Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
							<nav class="nav-main">

								<!-- 
									.nav-onepage
									Required for onepage navigation links
									
									Add .external for an external link!
								-->
								<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
									<li class="active"><!-- HOME -->
										<a href="#">
											HOME
										</a>
									</li>
									<li><!-- SERVICES -->
										<a class="dropdown-toogle">
											SERVICES
										</a>
										<ul class="dropdown-menu resp-active">
											<li>
											<%=link_to "", '/residential', :method => :get %><a  href="residential.html">Residential</a>
											</li>
											<li>
											<%=link_to "", '/commercial', :method => :get %> <a  href="commercial.html">Commercial</a>
											</li>
										</ul>
										
									</li>
									<li><!-- WORK -->
										<a href="#work">
											PORTFOLIO
										</a>
									</li>
									<li><!-- NEWS -->
										<a href="#news">
											NEWS
										</a>
									</li>
									<li><!-- OVERVIEW -->
										<a href="#contact">
											CONTACT
										</a>
									</li>
									<li><!-- CLIENTS -->
										<a href="#clients">
											CLIENTS
										</a>
									</li>
								<%=link_to "", '/emp-dashboard', :method => :get %>
                                <li><!-- EMPLOYEES -->
                                    <a href="/emp-dashboard">
                                        EMPLOYEES
									</a>
								</li>
							<%=link_to "", '/stats', :method => :get %>
                                <li> <!-- STATS -->
                                    <a href="stats">
                                        STATS
                                    </a>
                                </li>
								</ul>
							</nav>
						</div>

					</div>
				</header>
				<!-- /Top Nav -->

			</div>



			<!-- REVOLUTION SLIDER -->

			<div class="slider fullwidthbanner-container roundedcorners">
				<div class="fullwidthbanner" data-height="600" data-shadow="0" data-navigationStyle="preview2">
					<ul class="hide">
					
						<!-- SLIDE  -->
						<li data-transition="parallaxtobottom" data-slotamount="7" data-masterspeed="1000"  data-saveperformance="off">
							<!-- MAIN IMAGE -->
							<img src="assets/AdobeStock_162479912.jpeg"  alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="tp-caption white_big skewfromleft tp-resizeme"
								data-x="471"
								data-y="100" 
								data-speed="1000"
								data-start="1500"
								data-easing="Power3.easeInOut"
								data-splitin="words"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								style="z-index: 2; color: black; font-size:65px; line-height:100px; font-weight:bold; letter-spacing:0; text-shadow:none;">
									Rocket Elevators
							</div>

							<div class="tp-caption content_text_center skewfromleft tp-resizeme"
								data-x="530"
								data-y="195" 
								data-speed="1000"
								data-start="2000"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="1000"

								style="z-index: 3; font-size:20px; color: black; font-weight:bold; font-style:italic; text-shadow:none;">
									Elevate Safely, <br />
									Speed And Style.
									
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme" 
								data-x="830"
								data-y="290" 
								data-speed="1000"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								color="black"
								style="z-index: 6; white-space: nowrap;">

								
								<%= link_to "", '/gform', :method => :get %> <a class="btn btn-default btn-lg" href="gform.html" style="color: black">QUOTE &nbsp; <i class="fa fa-angle-right"></i></a>
					
									<!--<img src="assets/thematics/construction/worker-min.png" alt=""> -->
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="575"
								data-y="290" 
								data-speed="1000"
								data-start="2500"
								data-easing="Power3.easeInOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="1000"

								style="z-index: 5; white-space: nowrap;">
									<a class="btn btn-default btn-lg" href="#services">OUR SERVICES &nbsp;<i class="fa fa-angle-right"></i></a>
							</div>
						</li>

						<!-- SLIDE  ----------------------------------------------------------------------------------------->
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="1000"  data-saveperformance="off">
							<!-- MAIN IMAGE -->
							<img src="assets/AdobeStock_122227340.jpeg" alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="overlay dark-4"><!-- dark overlay [0 to 9 opacity] --></div>

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="1000"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
								Residential
							</div>

							<div class="tp-caption skewfromrightshort tp-resizeme"
								data-x="50"
								data-y="200" 
								data-speed="1000"
								data-start="1000"
								data-easing="easeInCirc"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								style="z-index: 3; font-size:20px; color:#fff; font-weight: bold; text-shadow:none;">
									We are number one in the residential industry ! <br>
									Click below to check out for details
							</div>

							<div class="tp-caption sfb tp-resizeme"
								data-x="50"
								data-y="310" 
								data-speed="1000"
								data-start="1500"
								data-easing="Power3.easeIn"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="1"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								style="z-index: 4; max-width: auto;">
								<%= link_to "", '/residential', :method => :get %>	<a class="btn btn-default btn-lg" href="residential.html"> READ MORE&nbsp; <i class="fa fa-angle-right"></i></a>
							</div>

		

						</li>
						<li data-transition="parallaxtotop" data-slotamount="7" data-masterspeed="1000"  data-saveperformance="off">
							<img src="assets/AdobeStock_103570025.jpeg" alt="cover image"  data-bgposition="center top" data-bgfit="cover" data-bgrepeat="no-repeat">

							<div class="tp-caption font-roboto skewfromleft tp-resizeme"
								data-x="50"
								data-y="100" 
								data-speed="1000"
								data-start="1500"
								data-easing="Cubic.easeOut"
								data-splitin="none"
								data-splitout="none"
								data-elementdelay="0.1"
								data-endelementdelay="0.1"
								data-endspeed="1000"
								style="z-index: 2; color:#fff; font-size:65px; line-height:85px; font-weight:bold; letter-spacing:0; text-shadow:none;">
								Commercial
							</div>
							<div class="tp-caption skewfromrightshort tp-resizeme"
							data-x="50"
							data-y="200" 
							data-speed="1000"
							data-start="1500"
							data-easing="easeInCirc"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="0.1"
							data-endelementdelay="0.1"
							data-endspeed="1000"
							style="z-index: 3; font-size:20px; color:#fff; font-weight: bold; text-shadow:none;">
								Many of the biggest company in the world are doing business with us! <br>
								Click below to check out our offers
						</div>

						<div class="tp-caption sfb tp-resizeme"
							data-x="50"
							data-y="310" 
							data-speed="1000"
							data-start="1500"
							data-easing="Power3.easeIn"
							data-splitin="none"
							data-splitout="none"
							data-elementdelay="1"
							data-endelementdelay="0.1"
							data-endspeed="1000"
							style="z-index: 4; max-width: auto;">
							<%= link_to "", '/commercial', :method => :get %>	<a class="btn btn-default btn-lg" href="commercial.html"> READ MORE&nbsp; <i class="fa fa-angle-right"></i></a>
						</div>
						</li>
					</ul>

				</div>
			</div>

			<!-- /REVOLUTION SLIDER -->


			<hr class="m-0" /><!-- 1px line separator -->

			
			<!-- Services -->
			<section id="services">
				<div class="container">

					<div class="row">
						
						
						<div class="col-sm-4">
								<a class="image-hover lightbox" href="https://www.youtube.com/watch?v=E7QlAsxJP-g" data-plugin-options='{"type":"iframe"}'>
									<span class="image-hover-icon image-hover-dark"> <!-- image-hover-light | image-hover-dark -->
										<i class="fa fa-youtube-square"><!-- video icon --></i>
									</span>
									<img class="img-fluid" src="http://www.thyssenkrupp-elevator.com/media/products_1/elevators_4/twin/20160518_baet_elevator_rs157992_rs157992_a_05-hpr_image_w450_h338.jpg" alt="img" style="height:200px"/>
								</a>
							<h3 class="mt-10">Awards and Projects</h3>
							<p>Rocket Elevators has won several awards and we are actually doing some of the biggest projects in the world !</p>
							<a href="#work" class="btn btn-default">READ MORE</a>
						
						</div>

						<div class="col-sm-4">
							<a class="image-hover lightbox">

								<img class="img-fluid" src="http://www.mowreyelevator.com/wp-content/uploads/2017/07/home-elevator-safety.jpg" alt="img" style="height:200px"/>
							</a>
							<h3 class="mt-10">Residential's Services</h3>
							<p class="serv"> We are proud to serve the residential industry worldwide.</p>
							<%= link_to "", '/residential', :method => :get %> <a href="residential.html" class="btn btn-default">READ MORE</a>
						</div>

						<div class="col-sm-4">
							<img class="img-fluid" src="https://mms.businesswire.com/media/20140629005012/en/422184/5/ToshibaElevator.jpg" alt="img" style="height:200px"/>
							<h3 class="mt-10">Commercial's Services</h3>
							<p class="serv">We participate to many projects for the corporate industry.</p>
							<%= link_to "", '/commercial', :method => :get %><a href="commercial.html" class="btn btn-default">READ MORE</a>
						</div>
					</div>
					

				</div>
			</section>
			<!-- /Services -->


			<!-- Parallax -->
			<section class="parallax parallax-1" style="background-image: url('assets/sky-1-min.jpg');">
				<div class="overlay dark-5"><!-- dark overlay [1 to 9 opacity] --></div>

				<div class="container">

					<div class="text-center">
						<h2 class="fs-40 fw-400">Proud to serve you since 1976</h2>
						<%= link_to "", '/gform', :method => :get %> <a class="btn btn-default btn-lg" style= width:200px; href="gform.html">QUOTE <i class="fa fa-angle-right"></i></a> 
		
						<a class="btn btn-default btn-lg" style= width:200px; href="#contact">CONTACT US <i class="fa fa-angle-right"></i></a>
					</div>

				</div>
			</section>
			<!-- /Parallax -->

			<!-- PORTFOLIO -->
			<section id="work">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Featured Work</h2>
					</div>
					<div class="text-center">
							<ul class="nav nav-pills mix-filter mb-60">
								<li data-filter="all" class="filter active"><a href="#">All</a></li>
								<li data-filter="awards" class="filter"><a href="#">Awards</a></li>
								<li data-filter="residentials" class="filter"><a href="#">Residentials</a></li>
								<li data-filter="commercials" class="filter"><a href="#">Commercials</a></li>
							</ul>
						</div>
				</div>

				<div id="portfolio" class="portfolio-nogutter">

						<div class="row mix-grid">

							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->

												<!-- details fonctionnel-->
												<%=link_to "", '/work1', :method => :get %>
												<a class="ico-rounded" href="work1.html">
														<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="http://www.magazineprestige.com/IMG/arton4160.jpg" width="600" height="399" alt="Complexe Vision" style="height:200px">
									</figure>

									<div class="item-box-desc">
										<h3>Complexe Vision</h3>
										<ul class="list-inline categories m-0">
											<p class="portf">Most Innovative Project </p>
											<p class="portf">2015</p>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix commercials"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->

												<!-- details fonctionnel-->
												<%=link_to "", '/work2', :method => :get %>
												<a class="ico-rounded" href="work2.html">
														<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="http://www.lemaymichaud.com/wordpress/wp-content/uploads/2018/01/LemayMichaud_HotelPur_580x520_14.jpg" width="600" height="200" alt="" style="height:200px">
									</figure>

									<div class="item-box-desc">
										<h3>Hotel Pur</h3>
										<ul class="list-inline categories m-0">
											<p class="portf">The Miracle</p>
											<p class="portf">2018</p>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix commercials"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->

												<!-- details fonctionnel-->
												<%=link_to "", '/work3', :method => :get %>
												<a class="ico-rounded" href="work3.html">
														<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="https://www.langan.com/wp-content/uploads/2017/07/Atlanta-996x554.jpg" width="600" height="200" alt="" style="height:200px">
									</figure>

									<div class="item-box-desc">
										<h3>Atlanta Project</h3>
											<ul class="list-inline categories m-0">
												<p class="portf">A Big Plan</p>
												<p class="portf">2018</p>
											</ul>

									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residentials"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->

												<!-- details fonctionnel-->
												<%=link_to "", '/work4', :method => :get %>
												<a class="ico-rounded" href="work4.html">
													<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="https://homehealthsmith.com/wp-content/uploads/2017/02/elevator-900x490.jpg" width="600" height="399" alt="" style="height:200px"> 
									</figure>

									<div class="item-box-desc">
										<h3>Commodity Project</h3>
											<ul class="list-inline categories m-0">
											<p class="portf">For Mobility Reduction</p>
											<p class="portf">2017</p>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->

												<!-- details fonctionnel-->
												<%=link_to "", '/work5', :method => :get %>
												<a class="ico-rounded" href="work5.html">
													<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTZsncrOR_CmZdDTg-VXNtIMfWv5_gp9ItnlcPeE9bFev5ecQ9q" width="600" height="399" alt="People's Choice" style="height:200px">
									</figure>

									<div class="item-box-desc">
										<h3>People Choice</h3>
										<ul class="list-inline categories m-0">
											<p class="portf">Award Of The Most Popular Project</p>
											<p class="portf">2016</p>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix residentials"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->

												<!-- details fonctionnel-->
												<%=link_to "", '/work6', :method => :get %>
												<a class="ico-rounded" href="work6.html">
													<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="https://static.dezeen.com/uploads/2014/03/A-steel-clad-outdoor-elevator-connects-the-city-and-suburb-in-Pamplona-by-AH-Asociados-_dezeen_1sq.jpg" width="600" height="399" alt="outdoor elevator" style="height:200px">
									</figure>

									<div class="item-box-desc">
										<h3>New Architecture</h3>
											<ul class="list-inline categories m-0">
												<p class="portf">New Technology</p>
												<p class="portf">2014</p>
											</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix commercials"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->

												<!-- details -->
												<%=link_to "", '/work7', :method => :get %>
												<a class="ico-rounded" href="work7.html">
													<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="https://www.slh.com/globalassets/country-pages/hero-images/united_arab_emirates.jpg?width=1024" width="600" height="399" alt="dubai" style="height:200px">
									</figure>

									<div class="item-box-desc">
										<h3>Dubai Project</h3>
										<ul class="list-inline categories m-0">
											<p class="portf">Crazy Design</p>
											<p class="portf">2012</p>
										</ul>
									</div>

								</div>

							</div><!-- /item -->


							<div class="col-md-3 col-sm-3 mix commercials"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->

												<!-- details -->
												<%=link_to "", '/work8', :method => :get %>
												<a class="ico-rounded" href="work8.html">
													<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="https://cbsnewyork.files.wordpress.com/2011/04/empire-state-building.jpg?w=420" width="600" height="399" alt="empire state building" style="height:200px">
									</figure>

									<div class="item-box-desc">
										<h3>New York</h3>
										<ul class="list-inline categories m-0">
											<p class="portf">Empire State Building</p>
											<p class="portf">2002</p>
										</ul>
									</div>

								</div>

							</div><!-- /item -->

							<div class="col-md-3 col-sm-3 mix awards"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->

												<!-- details fonctionnel-->
												<%=link_to "", '/work9', :method => :get %>
												<a class="ico-rounded" href="work9.html">
														<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="https://d1arsn5g9mfrlq.cloudfront.net/sites/default/files/Tile_Homepage_RatingsAwards.jpg" width="600" height="200" alt="" style="height:200px">
									</figure>

									<div class="item-box-desc">
										<h3>JD Power Award</h3>
											<ul class="list-inline categories m-0">
												<p class="portf">Quality Award</p>
												<p class="portf">2019</p>
											</ul>

									</div>

								</div>

							</div><!-- /item -->
							<div class="col-md-3 col-sm-3 mix commercials"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->

												<!-- details fonctionnel-->
												<%=link_to "", '/work10', :method => :get %>
												<a class="ico-rounded" href="work10.html">
														<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="https://cosmos-images2.imgix.net/file/spina/photo/15258/180606-elevator-full.jpg?ixlib=rails-2.1.4&auto=format&ch=Width%2CDPR&fit=max&w=835" width="600" height="200" alt="" style="height:200px">
									</figure>

									<div class="item-box-desc">
										<h3>Nasa Project</h3>
											<ul class="list-inline categories m-0">
												<p class="portf">Proud To Be Partner With The Nasa</p>
												<p class="portf">2014</p>
											</ul>

									</div>

								</div>

							</div><!-- /item -->
							<div class="col-md-3 col-sm-3 mix residentials"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->

												<!-- details fonctionnel-->
												<%=link_to "", '/work11', :method => :get %>
												<a class="ico-rounded" href="work11.html">
														<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="https://idahocustomlifts.com/wp-content/uploads/2013/11/custom-elevator.jpg" width="600" height="200" alt="" style="height:200px">
									</figure>

									<div class="item-box-desc">
										<h3>Celebrity House</h3>
											<ul class="list-inline categories m-0">
												<p class="portf">Famous People Are With Us.</p>
												<p class="portf">2011</p>
											</ul>

									</div>

								</div>

							</div><!-- /item -->
							<div class="col-md-3 col-sm-3 mix residentials"><!-- item -->

								<div class="item-box">
									<figure>
										<span class="item-hover">
											<span class="overlay dark-5"></span>
											<span class="inner">

												<!-- lightbox -->

												<!-- details fonctionnel-->
												<%=link_to "", '/work12', :method => :get %>
												<a class="ico-rounded" href="work12.html">
														<span class="glyphicon glyphicon-option-horizontal fs-20"></span>
												</a>

											</span>
										</span>

										<img class="img-fluid" src="https://homeelevators.com/wp-content/uploads/2018/02/Glass-elevator-for-home.png" width="600" height="200" alt="" style="height:200px">
									</figure>

									<div class="item-box-desc">
										<h3>Luxury Elevators</h3>
											<ul class="list-inline categories m-0">
												<p class="portf">For Wealthy People</p>
												<p class="portf">2014</p>
											</ul>

									</div>

								</div>

							</div><!-- /item -->
						</div>


				</div>
			</section>
			<!-- /PORTFOLIO -->




			<!-- Testimonials -->
			<section class="section-xs dark">
				<div class="container">

					<div class="owl-carousel text-center owl-testimonial m-0" data-plugin-options='{"singleItem": true, "autoPlay": 3500, "navigation": false, "pagination": true, "transitionStyle":"fade"}'>
						<div class="testimonial">
							<figure>
								<img class="rounded" src="https://scontent.fymy1-2.fna.fbcdn.net/v/t1.0-1/p160x160/18813357_10213150922227944_5100165843769864688_n.jpg?_nc_cat=110&_nc_ht=scontent.fymy1-2.fna&oh=24f73f462b044fd129c859460d9528f8&oe=5CFA659A" alt="" />
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">CEO</p>
								<cite>
									Rémi Gagnon
									<span>Rocket Elevators</span>
								</cite>
							</div>
						</div>
						<div class="testimonial">
							<figure>
								<img class="rounded" src="https://scontent.fymy1-1.fna.fbcdn.net/v/t1.0-1/p160x160/12301671_10156316835345424_7774802595412030641_n.jpg?_nc_cat=102&_nc_ht=scontent.fymy1-1.fna&oh=8e72a31343a1c9e31735aa91e4664ba8&oe=5CB94576" alt="" />
							</figure>
							<div class="testimonial-content p-0">
								<p class="lead">Employe of the month</p>
								<cite>
									Marc-Antoine Tanguay
									<span>Rocket Elevators</span>
								</cite>
							</div>
						</div>
					</div>

				</div>
			</section>
			<!-- /Testimonials -->





			<!-- News -->
			<section id="news">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Recent News</h2>
					</div>

					<!-- 
						controlls-over		= navigation buttons over the image 
						buttons-autohide 	= navigation buttons visible on mouse hover only
						
						data-plugin-options:
							"singleItem": true
							"autoPlay": true (or ms. eg: 4000)
							"navigation": true
							"pagination": true
							"items": "4"

						owl-carousel item paddings
							.owl-padding-0
							.owl-padding-3
							.owl-padding-6
							.owl-padding-10
							.owl-padding-15
							.owl-padding-20
					-->
					<div class="owl-carousel owl-padding-10 buttons-autohide controlls-over" data-plugin-options='{"singleItem": false, "items":"4", "autoPlay": 4000, "navigation": true, "pagination": false}'>
						<div class="img-hover">
					
								<img class="img-fluid" src="https://cdn.cnn.com/cnnnext/dam/assets/151230235728-carnival-crewmember-elevator-accident-death-florida-pkg-00005014-full-169.jpg" alt="" style="height:150px; width:250px" >


							<h4 class="text-left mt-20"><a href="https://www.star-telegram.com/news/local/community/fort-worth/article224927245.html">Injured patients</a></h4>
							<p class="text-left">An accident happened in hospitals elevator and an employee has been seriously injured. The cause remain unknown.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									18th Jan 2017
								</li>
							</ul>
						</div>
						<div class="img-hover">
						
								<img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/commons/thumb/8/87/Palace_of_Westminster_from_the_dome_on_Methodist_Central_Hall.jpg/1000px-Palace_of_Westminster_from_the_dome_on_Methodist_Central_Hall.jpg" alt="" style="height:150px; width:250px">
						

							<h4 class="text-left mt-20"><a href="https://www.adweek.com/creativity/this-london-agency-gave-people-a-lift-by-redesigning-their-elevators/">Elevator Story In London</a></h4>
							<p class="text-left">Something unusual happened in an elevator in London, UK. The city said they never seen something like that.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									12th Mars 2018
								</li>
							</ul>
						</div>
						<div class="img-hover">
							
								<img class="img-fluid" src="https://imgs.6sqft.com/wp-content/uploads/2015/03/21002903/elevator-fire.jpeg" alt="" style="height:150px; width:250px">

							<h4 class="text-left mt-20"><a href="http://fox11online.com/news/local/fires-damage-downtown-appleton-parking-ramp-elevators">Fire in elevator</a></h4>
							<p class="text-left">A fire occured in the elevator of a parking lot downtown Appleton </p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									29th Jan 2017
								</li>
							</ul>
						</div>
						<div class="img-hover">
			
								<img class="img-fluid" src="https://www.tvinsider.com/wp-content/uploads/2018/07/Untitled-design-60-1014x570.jpg" alt="" style="height:150px; width:250px">

							<h4 class="text-left mt-20"><a href="https://www.eonline.com/ca/news/1006280/love-triangles-in-elevators-grey-s-anatomy-stars-talk-midseason-premiere">Greys Anantomy Intrigue</a></h4>
							<p class="text-left">Season premiere of Greys Anatomy to air tonight. Love triangle in the elevator in the air...</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									29th Jan 2017
								</li>
							</ul>
						</div>
						<div class="img-hover">

								<img class="img-fluid" src="http://www.dmu.ac.uk/webimages/About-DMU-images/Our-campus/your-campus-transformed-img-06.jpg" alt="" style="height:150px; width:250px">

							<h4 class="text-left mt-20"><a href="https://fordhamobserver.com/37407/features/whats-up-with-the-mcmahon-elevators/">Campus Nightmare</a></h4>
							<p class="text-left">Fordham Lincoln Center is a campus that is known, in a mostly negative way, for its elevators. Students feelings regarding elevator usage.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									29th Jan 2017
								</li>
							</ul>
						</div>
						<div class="img-hover">
								<img class="img-fluid" src="https://cdnph.upi.com/svc/sv/i/7801547732083/2019/1/15477336439292/First-advanced-weapons-elevator-completed-on-USS-Gerald-R-Ford.jpg" alt="" style="height:150px; width:250px">

							<h4 class="text-left mt-20"><a href="https://taskandpurpose.com/gerald-r-ford-weapons-elevator">Eveletors And The Army</a></h4>
							<p class="text-left">A new elevator is used by the Navy to lift some of their weapons.</p>
							<ul class="text-left fs-12 list-inline list-separator">
								<li>
									<i class="fa fa-calendar"></i> 
									29th Jan 2017
								</li>

							</ul>
						</div>

					</div>

				</div>
			</section>
			<!-- /News -->




			<!-- Overview -->
			<!-- /Overview -->





			<!-- Clients -->
			<section id="clients" class="alternate">
				<div class="container">

					<div class="heading-title heading-dotted text-center">
						<h2>Our Clients</h2>
					</div>

					<ul class="row clients-dotted list-inline">
						<li class="col-md-3 col-sm-3 col-6">
						
								<img class="img-fluid" src="https://creneaueolien.ca/wp-content/uploads/marmen-440x440.jpg" alt="client" />
						
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							
								<img class="img-fluid" src="https://www.2ndvote.com/wp-content/uploads/2016/03/marriott-hotels-logo-700x453.png" alt="client" />
						
						</li>
						<li class="col-md-3 col-sm-3 col-6">
						
								<img class="img-fluid" src="http://www.iheartradio.ca/image/policy:1.2634839:1495732665/videotron.jpg?a=16%3A9&w=1000&$p$a$w=75f3268" alt="client" />
							
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							
								<img class="img-fluid" src="https://www.cn.ca/-/media/Images/Media/Photos/CN_med_red.jpg?la=en" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							
								<img class="img-fluid" src="http://www.lesaffaires.com/uploads/images/original/0bd5b3ad88809024d05d82162d9b7b61.jpg" alt="client" />
						
						</li>
						<li class="col-md-3 col-sm-3 col-6">
					
								<img class="img-fluid" src="https://onbcanada.ca/wp-content/uploads/2018/03/BellCanada1.jpg" alt="client" />
							</a>
						</li>
						<li class="col-md-3 col-sm-3 col-6">
							
								<img class="img-fluid" src="https://photos.newswire.ca/images/20150218_C7528_PHOTO_EN_12307.jpg" alt="client" />
							
						</li>
						<li class="col-md-3 col-sm-3 col-6">
						
								<img class="img-fluid" src="https://www.enterprise.ca/content/dam/ecom/logo-enterprise.png" alt="client" />
						
						</li>
						<li class="col-md-3 col-sm-3 col-6">
						
								<img class="img-fluid" src="https://www.edcast.com/corp/wp-content/uploads/2016/11/Walmart-Logo-PNG-Transparent.png" alt="client" />
						
						</li>
						<li class="col-md-3 col-sm-3 col-6">
						
								<img class="img-fluid" src="https://cdn.sisense.com/wp-content/uploads/standard-pomerleau-1.png" alt="client" />
						
						</li>
						<li class="col-md-3 col-sm-3 col-6">
						
								<img class="img-fluid" src="https://strathpinecentre.com.au/uploads/images/stores/Target.jpg" alt="client" />
						
						</li>
						<li class="col-md-3 col-sm-3 col-6">
						
								<img class="img-fluid" src="https://groupedallaire.findspace.com/theme/logo.jpg" alt="client" />
						
						</li>
					</ul>

				</div>
			</section>
			<!-- /Clients -->




			<!-- CONTACT -->
			<section id="contact">
				<div class="container">

					<header class="text-center mb-60">
						<h2>Contact Us</h2>
						<p class="lead font-lato">We are happy to answer your questions</p>
						<hr />
					</header>


					<div class="row">

						<!-- FORM -->
						<div class="col-md-8 col-sm-8">

							<h3>Enter your informations </h3>

							
							<!--
								MESSAGES
								
									How it works?
									The form data is posted to php/contact.php where the fields are verified!
									php.contact.php will redirect back here and will add a hash to the end of the URL:
										#alert_success 		= email sent
										#alert_failed		= email not sent - internal server error (404 error or SMTP problem)
										#alert_mandatory	= email not sent - required fields empty
										Hashes are handled by assets/js/contact.js

									Form data: required to be an array. Example:
										contact[email][required]  WHERE: [email] = field name, [required] = only if this field is required (PHP will check this)
										Also, add `required` to input fields if is a mandatory field. 
										Example: <input required type="email" value="" class="form-control" name="contact[email][required]">

									PLEASE NOTE: IF YOU WANT TO ADD OR REMOVE FIELDS (EXCEPT CAPTCHA), JUST EDIT THE HTML CODE, NO NEED TO EDIT php/contact.php or javascript
												 ALL FIELDS ARE DETECTED DINAMICALY BY THE PHP

									WARNING! Do not change the `email` and `name`!
												contact[name][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
												contact[email][required] 	- should stay as it is because PHP is using it for AddReplyTo (phpmailer)
							-->

							<!-- Alert Success -->
							<div id="alert_success" class="alert alert-success mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Thank You!</strong> Your message successfully sent!
							</div><!-- /Alert Success -->


							<!-- Alert Failed -->
							<div id="alert_failed" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>[SMTP] Error!</strong> Internal server error!
							</div><!-- /Alert Failed -->


							<!-- Alert Mandatory -->
							<div id="alert_mandatory" class="alert alert-danger mb-30">
								<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
								<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
							</div><!-- /Alert Mandatory -->

							<%= form_with(model: @lead, local: true) do |form| %>	
								<fieldset>
									<input type="hidden" name="action" value="contact_send" />

									<div class="row">
											<div class="col-md-4">
												<%= form.label :full_name %>
												<%= form.text_field :full_name, class: 'form-control', :required => true  %>
											</div>
											<div class="col-md-4">
												<%= form.label :email %>
												<%= form.text_field :email, class: 'form-control', :required => true  %>
											</div>
											<div class="col-md-4">
												<%= form.label :phone_number %>
												<%= form.text_field :phone_number, class: 'form-control' %>	
											</div>
											
											
									</div>
									<div class="row">
									<div class="col-md-8">
											<%= form.label :project_name %>
											<%= form.text_field :project_name, class: 'form-control' %>
										</div>
										</div>
									<div class="row">

											<div class="col-md-4">
													<%= form.label :company_name  %>
													<%= form.text_field :company_name, class: 'form-control', :required => true %>
												</div>

											<div class="col-md-4">
												<%= form.label :department_in_charge %>
												<%= form.select :department_in_charge, [['-', '-'], ['Marketing','Marketing'], ['Webdesign','Webdesign'], ['Architecture','Architecture'], ['Construction','Construction']] %>	
											</div>
									</div>
									<div class="row">
											<div class="col-md-12">
												<%= form.label :project_description %>
												<%= form.text_area :project_description, class: 'form-control', rows: '6' %>
											</div>
									</div>
									<div class="row">
										<div class="col-md-12">
											<%= form.label :message %>
											<%= form.text_area :message, class: 'form-control', rows: '6' %>
										</div>
									</div>
									<div class="row">
											<div class="col-md-12">
											<%= form.label :attachment %>
											<%= form.file_field :attachment, class: 'custom-file-upload' %>

											</div>
									</div>

								</fieldset>

								<div class="row">
									<div class="col-md-12">
									<%= form.submit class: 'btn btn-primary', value: 'Send Message' %>

									</div>
								</div>
							<% end %>
						</div>
						<!-- /FORM -->


						<!-- INFO -->
						<div class="col-md-4 col-sm-4">

							<h2>Visit Us</h2>

							<!-- 
							Available heights
								h-100
								h-150
								h-200
								h-250
								h-300
								h-350
								h-400
								h-450
								h-500
								h-550
								h-600
							-->
							<div id="map2" class="h-0 grayscale"></div>

							<hr />

							<p>
								<span class="block"><strong><i class="fa fa-map-marker"></i> Address:</strong> 725 Boulevard Lebourgneuf, Québec, QC G2J 0C4 </span>
								<span class="block"><strong><i class="fa fa-phone"></i> Phone:</strong> <a href="tel:1800-555-1234">1-800-555-1234</a></span>
								<span class="block"><strong><i class="fa fa-envelope"></i> Email:</strong> <a href="mailto:mail@yourdomain.com">support@codeboxx.com</a></span>
							</p>

						</div>
						<!-- /INFO -->

					</div>

				</div>
			</section>
			<!-- /CONTACT -->




			<!-- FOOTER -->
			<footer id="footer">
				<div class="container">


					<div class="row">

						<!-- col #1 -->
						<div class="col-md-8">

							<h3 class="letter-spacing-1">WHY ROCKET ELEVATORS ?</h3>

							<!-- Small Description -->
							<p>
								We are number one in construction of elevator in North America and second in Europe. We have the most efficient workers and our values are the customer service, 
								fidelity and respect. Contact us and we guarantee that you will completely satisfy. 
							</p>
							<h2>1-800-555-1234</h2>
						</div>
						<!-- /col #1 -->

					</div>

				</div>

				<div class="copyright">
					<div class="container">
						&copy; All Rights Reserved, Rocket Elevators
					</div>
				</div>

			</footer>
			<!-- /FOOTER -->

		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>


		<!-- PRELOADER -->

		<!-- /PRELOADER -->


		<!-- JAVASCRIPT FILES -->

		
		<!-- STYLESWITCHER - REMOVE -->


		<!-- REVOLUTION SLIDER -->
		

		<!-- PAGELEVEL SCRIPTS -->
		
	

		<!-- 
		# 	GMAP.JS 
		# 	http://hpneo.github.io/gmaps/
		# -->
