<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Rocket Elevators</title>
	<meta name="Rocket Elevators Website" content="" />
	<meta name="Dominic Villemure" content="Dominic Villemure [www.codeboxx.biz]" />
	<link rel="icon" type="image/png" href="RocketElevatorAssets/R22.png">

	<!-- mobile settings -->
	<meta name="viewport" content="width=device-width, maximum-scale=1, initial-scale=1, user-scalable=0" />
	<!--[if IE]><meta http-equiv='X-UA-Compatible' content='IE=edge,chrome=1'><![endif]-->

	<!-- WEB FONTS : use %7C instead of | (pipe) -->
	<!-- <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600%7CRaleway:300,400,500,600,700%7CLato:300,400,400italic,600,700" rel="stylesheet" type="text/css" /> -->
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">


	  <!-- CORE CSS -->
	  <link href="assets/plugins/bootstrap/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
	<!-- REVOLUTION SLIDER -->
	<link href="assets/plugins/slider.revolution/css/extralayers.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/slider.revolution/css/settings.css" rel="stylesheet" type="text/css" />
	<!-- THEME CSS -->
	<link href="assets/css/essentials.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/layout.css" rel="stylesheet" type="text/css" />
	<link href="assets/plugins/bootstrap/css/Custom.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/Custom.css" rel="stylesheet" type="text/css" />
	<!-- PAGE LEVEL SCRIPTS -->
	<link href="assets/css/header-2.css" rel="stylesheet" type="text/css" />
	<link href="assets/css/color_scheme/lightgrey.css" rel="stylesheet" type="text/css" id="color_scheme" />  
</head> 


	<!-- wrapper -->
	<div id="wrapper">

		<div id="header" class="dark navbar-toggleable-md sticky clearfix shadow-before-1">

			<!-- TOP NAV -->
			<header id="topNav">
				<div class="container">

					<!-- Mobile Menu Button -->
					<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
						<i class="fa fa-bars"></i>
					</button>

					<!-- BUTTONS -->
					<ul class="float-right nav nav-pills nav-second-main">


					</ul>
					<!-- /BUTTONS -->


					<!-- Logo -->
					<a class="submenu-dark" href="index.html">
						
					</a>

					<!-- target="new" open a new window -->
					<!-- href == reference of page -->
							<!-- # bring back top of page -->
					<div class="navbar-collapse collapse float-right nav-main-collapse">
						<nav class="nav-main">

							<ul id="topMain" class="nav nav-pills nav-main">
								<li>
									<!-- HOME -->
									<a href="index.html">
										<em><strong>ROCKET ELEVATORS</strong></em>
									</a>

								</li>
						<%# --------------		aller dans app/views/pages/work3 ----------- %>
						<%# --------------		aller dans app/views/pages/work3 ----------- %>
						<%# --------------		aller dans app/views/pages/work3 ----------- %>
						<%# --------------		aller dans app/views/pages/work3 ----------- %>
						<%# --------------		aller dans app/views/pages/work3 ----------- %>
						<%# --------------		aller dans app/views/pages/work3 ----------- %>
						<%# --------------		aller dans app/views/pages/work3 ----------- %>
								<li>
										<!-- Portfolio -->
										<a target="new" href="/portfolio_to">
											
											<em><strong>PORTFOLIO</strong></em>
										</a>
									</li>

									<li>
											<!-- NEWS -->
											<a target="new" href="#news">
												<em><strong>NEWS</strong></em>
											</a>
										</li>

								<li>
										<li>
												<!-- CLIENTS -->
												<a target="new" href="/clients">
													<em><strong>CLIENTS</strong></em>
												</a>
											</li>


											<li class="nav-item dropdown">
													<!-- SERVICES -->
													<a class="dropdown-toggle" data-toggle="dropdown">
														<em><strong>SERVICES</strong></em>
													</a>
													<ul class="dropdown-menu">
														<li class="dropdown-item"><a target="new" href="resident.html">Residential Services</a></li>
														<li class="dropdown-item"><a target="new" href="corporate.html">Corporate Services</a></li>
				
													</ul>
												</li>
												<li>
														<!-- CONTACT -->
														<a href="/contact">
															<em><strong>CONTACT US</strong></em>
														</a>
													</li>
									
									<ul class="dropdown-menu">
										<li><a href="RocketElevatorsWebpage_Residential.html">Residential offers</a></li>

							</ul>

						</nav>
					</div>

				</div>
			</header>
			<!-- /Top Nav -->

		</div>


	<section class="btn btn-xlg btn-primary fs-20 fullwidth m-0 rad-40 p-40 " style="background-image: url('/assets/AdobeStock_103570025.jpeg');">
		<span class="font-lato fs-30" style="color:rgb(300, 300, 300)">
			For the best elevators,
			<strong> Rocket Elevators ! </strong>
		</span>
	</section>

	</footer>
	<!-- /FOOTER INFO -->


	<!-- FOOTER Formulaire-->
	<footer id="footer">
		<div class="wide">


			<div class="row" style="margin:2%">
			<h2 class="col-sm-6">YOUR INTERVENTION : </h2>

				
				<!-- FORM -->
				<div style="margin:0% ; padding:0%" class="col-md-9">

				
					<!-- Alert Success -->
					<div id="alert_success" class="alert alert-success mb-30">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<strong>Thank You!</strong> Your message successfully sent!
					</div><!-- /Alert Success -->


					<!-- Alert Failed -->
					<div id="alert_failed" class="alert alert-danger mb-30">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<strong>[SMTP] Error!</strong> Internal server error!
					</div><!-- /Alert Failed -->


					<!-- Alert Mandatory -->
					<div id="alert_mandatory" class="alert alert-danger mb-30">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<strong>Sorry!</strong> You need to complete all mandatory (*) fields!
					</div><!-- /Alert Mandatory -->

				 <!-- label where you enter your information -->
					&nbsp;
					&nbsp;
					&nbsp;
							
							<%# prendre  les informations dans le schema?????????????????????? %>   
					<%= form_for :intervention, url: {},html: {method: "post"} do |f| %>
					<%= f.select(:customer_id, Customer.all.collect {|p| [p.company_name]},  {prompt: "Select a Client"}, {class: 'form-control'}) %>
					<%# <%= f.select(:building, building.all.collect {|p| [p.index_intervention_on_battery_id"]},  {prompt: "Select a Building"}, {class: 'form-control'}) %> 
					<%# <%= f.select(:elevator, elevator.all.collect {|p| [p.company_name]},  {prompt: "Select a Elevator"}, {class: 'form-control'}) %>
					<%# <%= f.select(:battery, battery.all.collect {|p| [p.company_name]},  {prompt: "Select a battery"}, {class: 'form-control'}) %>  
					<%# <%= f.select(:column, column.all.collect {|p| [p.company_name]},  {prompt: "Select a Column"}, {class: 'form-control'}) %> 
						

							<%# ---------- submit button ----------- %>
					<%= f.submit "Send" %>				
						<%# ---------- submit button ----------- %>


					<% end %>
						<%# comment leargir ma case input %>
					<form id="frm1" action="/action_page.php">
 					<strong> <em>Describe the nature of the Intervention :</em></strong> <input type="text" name="fname"><br>
					  <%# comment leargir ma case input %>


					<%# ------- bouton input ------- %>
 					<input type="button" onclick="myFunction()" value="Submit">
					 <%# ------- bouton input ------- %>
					</form>



	</footer>

					<!-- FOOTER -->
					<footer id="footer">
						<div class="container">
							<div class="row">
	
								<!-- col #1 -->
								<div class="col-md-8">
	
									<h3 class="letter-spacing-1">WHY US?</h3>
	
									<!-- Small Description of Rocket Elevators  -->
									<p>
	
										<em>Trust is <em>our Main Principle of life</em>, the training of<strong> our team is professional</strong>
											and chosen among the best in the World</em>
									</p>
									<h2>(418) 580-7055</h2>
								</div>
								<!-- /col #1 -->
	
								<!-- col #2 -->
								<div class="col-md-4">
									<h3 class="letter-spacing-1">KEEP IN TOUCH</h3>
	
									<!-- Newsletter Form -->
									<p>Subscribe to Our Newsletter to get Important News & Offers</p>
	
									<form class="validate" action="php/newsletter.php" method="post" data-success="Subscribed! Thank you!"
									 data-toastr-position="bottom-right">
										<div class="input-group">
											<span class="input-group-addon"><i class="fa fa-envelope"></i></span>
											<input type="email" id="email" name="email" class="form-control required" placeholder="Enter your Email">
											<span class="input-group-btn">
												<button class="btn btn-default" type="submit"><em>Subscribe</em></button>
											</span>
										</div>
									</form>
	
								</div>
								<!-- /col #2 -->
	
							</div>
						</div>
						<div class="copyright">
							<div class="container">
								<ul class="float-right m-0 list-inline mobile-block">
									<li><a href="#">Terms &amp; Conditions</a></li>
									<li>&bull;</li>
									<li><a href="#">Privacy</a></li>
								</ul>
								&copy; All Rights Reserved, Company LTD
							</div>
						</div>
	
					</footer>
					<!-- /FOOTER -->
	</div>
	<!-- /wrapper -->

	<!-- SCROLL TO TOP -->
	<a href="#" id="toTop"></a>

	<!-- JAVASCRIPT FILES -->
<script>
		var plugin_path = 'assets/plugins/';
	</script> 

</body>
</html>