

	<!--
		AVAILABLE BODY CLASSES:
		
		smoothscroll 			= create a browser smooth scroll
		enable-animation		= enable WOW animations

		bg-grey					= grey background
		grain-grey				= grey grain background
		grain-blue				= blue grain background
		grain-green				= green grain background
		grain-blue				= blue grain background
		grain-orange			= orange grain background
		grain-yellow			= yellow grain background
		
		boxed 					= boxed layout
		pattern1 ... patern11	= pattern background
		menu-vertical-hide		= hidden, open on click
		
		BACKGROUND IMAGE [together with .boxed class]
		data-background="assets/images/_smarty/boxed_background/1.jpg"
	-->
	<body class="smoothscroll enable-animation">

		<!-- SLIDE TOP -->
		<div id="slidetop">

			<div class="container">
				
				<div class="row">

					<div class="col-md-4">
						<h6><i class="icon-heart"></i> WHY ROCKET ELEVATOR ?</h6>
						<p>We are number one in the residential industry as well as in the coporate industry. </p>
					</div>


					<div class="col-md-4">
						<h6><i class="icon-envelope"></i> CONTACT INFO</h6>
						<ul class="list-unstyled">
							<li><b>Address:</b> 725 Boulevard Lebourgneuf, G2J 0C4<br /> Québec, Canada</li>
							<li><b>Phone:</b> 418-555-5555</li>
							<li><b>Email:</b> <a href="www.codeboxx.biz">support@codeboxx.com</a></li>
						</ul>
					</div>

				</div>

			</div>

			<a class="slidetop-toggle" href="#"><!-- toggle button --></a>

		</div>
		<!-- /SLIDE TOP -->


		<!-- wrapper -->
		<div id="wrapper">

			<!-- 
				AVAILABLE HEADER CLASSES

				Default nav height: 96px
				.header-md 		= 70px nav height
				.header-sm 		= 60px nav height

				.b-0 		= remove bottom border (only with transparent use)
				.transparent	= transparent header
				.translucent	= translucent header
				.sticky			= sticky header
				.static			= static header
				.dark			= dark header
				.bottom			= header on bottom
				
				shadow-before-1 = shadow 1 header top
				shadow-after-1 	= shadow 1 header bottom
				shadow-before-2 = shadow 2 header top
				shadow-after-2 	= shadow 2 header bottom
				shadow-before-3 = shadow 3 header top
				shadow-after-3 	= shadow 3 header bottom

				.clearfix		= required for mobile menu, do not remove!

				Example Usage:  class="clearfix sticky header-sm transparent b-0"
			-->
			


			<!-- 
				PAGE HEADER 
				
				CLASSES:
					.page-header-xs	= 20px margins
					.page-header-md	= 50px margins
					.page-header-lg	= 80px margins
					.page-header-xlg= 130px margins
					.dark			= dark page header

					.shadow-before-1 	= shadow 1 header top
					.shadow-after-1 	= shadow 1 header bottom
					.shadow-before-2 	= shadow 2 header top
					.shadow-after-2 	= shadow 2 header bottom
					.shadow-before-3 	= shadow 3 header top
					.shadow-after-3 	= shadow 3 header bottom
			-->
			<div id="header" class="navbar-toggleable-md sticky header-md clearfix">

					<!-- TOP NAV -->
					<header id="topNav">
						<div class="container">
	
							<!-- Mobile Menu Button -->
							<button class="btn btn-mobile" data-toggle="collapse" data-target=".nav-main-collapse">
								<i class="fa fa-bars"></i>
							</button>
	
							<!-- Logo -->
	
							<a class="logo float-left scrollTo" href="#top">
								<img src="demo_files/images/R2.png" alt="" />
							</a>
	
							<!-- 
                       													Top Nav 
							
							AVAILABLE CLASSES:
							submenu-dark = dark sub menu
						-->
						<div class="navbar-collapse collapse float-right nav-main-collapse submenu-dark">
								<nav class="nav-main">
	
									<!-- 
										.nav-onepage
										Required for onepage navigation links
										
										Add .external for an external link!
									-->
									<ul id="topMain" class="nav nav-pills nav-main nav-onepage">
										<%= link_to "", '/index', :method => :get %>
										<li class="active"><!-- HOME -->
											<a href="index.html">
												HOME
											</a>
										</li>
										<li><!-- SERVICES -->
											<a class="dropdown-toogle">
												SERVICES
	
											</a>
											<ul class="dropdown-menu">
												<li>
													<%= link_to "", '/residential', :method => :get %> <a href="residential.html">Residential</a>
												</li>
												<li>
													<%= link_to "", '/commercial', :method => :get %> <a href="commercial.html">Commercial</a>
												</li>
											</ul>
											
										</li>
											<%= link_to "", '/index', :method => :get %> <a href="index.html#work">
										<li><!-- WORK -->
												PORTFOLIO
											</a>
										</li>
											<%= link_to "", '/index', :method => :get %><a href="index.html#news">
										<li><!-- NEWS -->
												NEWS
											</a>
										</li>
											<%= link_to "", '/index', :method => :get %><a href="index.html#contact">
										<li><!-- OVERVIEW -->
												CONTACT
											</a>
										</li>
											<%= link_to "", '/index', :method => :get %><a href="index.html#clients">
										<li><!-- CLIENTS -->
												CLIENTS
											</a>
										</li>
										<%=link_to "", '/emp-dashboard', :method => :get %>
                                <li><!-- CLIENTS -->
                                    <a href="/emp-dashboard">
                                        EMPLOYEES
                                    </a>
                                </li>
							<%=link_to "", '/stats', :method => :get %>
                                <li> <!-- STATS -->
                                    <a href="stats">
                                        STATS
                                    </a>
                                </li>
									</ul>
	
								</nav>
							</div>

					</div>
				</header>
				<!-- /Top Nav -->
	
				</div>
			<section class="page-header page-header-xs">
				<div class="container">

					<h1 style= font-weight:bold; >For People With Mobility Reduction</h1>
					<span class="font-lato fs-18 hidden-xs-down">Be Safe And Elevate With Us.</span>


					<!-- page tabs -->
					<!-- /page tabs -->

				</div>
			</section>
			<!-- /PAGE HEADER -->




			<!-- -->
			<section>
				<div class="container">
					
					<!-- OWL SLIDER -->
					<div class="container">

						<div class="owl-carousel buttons-autohide controlls-over m-0" data-plugin-options='{"items": 1, "autoPlay": 3500, "autoHeight": false, "navigation": true, "pagination": false, "transitionStyle":"fade", "progressBar":"false"}'>
							<div>
								<img class="img-fluid" src="http://www.elevatorserviceco.com/wp-content/uploads/2017/02/main-ele002-ret-1024x474.png" alt="">
							</div>
							<div>
								<img class="img-fluid" src="https://www.stiltzliftscanada.com/wp-content/uploads/2014/12/vista-1.jpg" alt="">
							</div>
							<div>
								<img class="img-fluid" src="http://www.resoluteelevator.com/uploads/1/1/2/0/11202162/5681342_orig.jpg" alt="">
							</div>
						</div>

					</div>
					<!-- /OWL SLIDER -->

					
				</div>
			</section>
			<!-- / -->



			<!-- -->
			<section>
				<div class="container">

					<div class="row m-0">
						
						<div class="col-md-8 col-sm-8">

							<!-- Subtitle -->
							<div class="heading-title heading-border">
								<h2>For Commodity</h2>

							</div>
							<!-- /Subtitle -->

							<p>As you get older, chance are that your mobility will reduce. Be safe and secure with Rocket Elevator </p>
							<p class="font-lato fs-18">Wa have proven that we care about the more vulnerable people.</p>
						
						</div>

						<div class="col-md-4 col-sm-4">
						
							<div class="card card-default">
								<div class="card-block">
									
									<p class="font-lato fs-18">Infos on the Home Project</p>

									<ul class="portfolio-detail-list list-unstyled m-0">
										<li><span><i class="fa fa-user"></i>Chief Department:</span> Remi Gagnon</li>
										<li><span><i class="fa fa-calendar"></i>Since:</span> 2009</li>
										<li><span><i class="fa fa-lightbulb-o"></i>Technologies:</span> Rocket Elevetor</li>
									
									</ul>

								</div>
								
								<div class="card-footer">

								</div>

							</div>

						</div>

					</div>

				</div>
			</section>
			<!-- -->


		</div>
		<!-- /wrapper -->


		<!-- SCROLL TO TOP -->
		<a href="#" id="toTop"></a>
		
	</body>
</html>