<p id="notice"><%= notice %></p>

<h1>Building Details</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @buildingdetails.each do |buildingdetail| %>
      <tr>
        <td><%= link_to 'Show', building_detail %></td>
        <td><%= link_to 'Edit', edit_building_detail_path(buildingdetail) %></td>
        <td><%= link_to 'Destroy', buildingdetail, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Building Detail', new_buildingdetail_path %>
